.map_box {
	display: block;
	position: relative;
	width: 100vw;
	height: calc(100vh - 64px);
}

* {
	padding: 0;
	margin: 0;
}

.date_box {
	width: calc(100vw - 4px);
	height: 30px;
	text-align: center;
	font-size: medium;
}
#lastLoc {
	display: block;
	height: 20px;
	padding: 5px;
	font-size: medium;
	text-align: center;
}

.leaflet-routing-container tbody {
    display: none;
}

